*.lucasduport.cc {
   @www host www.lucasduport.cc 

   @truenas host truenas.lucasduport.cc

   @lldap host lldap.lucasduport.cc
   
   @tv host tv.lucasduport.cc

   @status host status.lucasduport.cc
   
   @resume host resume.lucasduport.cc
   @cv host cv.lucasduport.cc

   handle @www {
       redir https://portfolio.lucasduport.cc
   }

   handle @truenas {
       reverse_proxy {$TRUENAS_TARGET}
   }

   handle @lldap {
       reverse_proxy {$LLDAP_TARGET}
   }

   handle @tv {
       reverse_proxy {$TV_TARGET}
   }

   handle @status {
       reverse_proxy {$STATUS_TARGET}
   }

   handle @resume {
       redir https://portfolio.lucasduport.cc/cvs/CV_EN_2025.pdf
   }

   handle @cv {
       redir https://portfolio.lucasduport.cc/cvs/CV_FR_2025.pdf
   }
}

lucasduport.cc {
    redir https://portfolio.lucasduport.cc
}

