{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

*.lucasduport.cc {
	@ldap host ldap.lucasduport.cc
	handle @ldap {
		reverse_proxy {env.LDAP_TARGET}
	}

	@nas host nas.lucasduport.cc
	handle @nas {
		reverse_proxy {env.NAS_TARGET}
	}

	@tv host tv.lucasduport.cc
	handle @tv {
		reverse_proxy {env.TV_TARGET}
	}

	@status host status.lucasduport.cc
	handle @status {
		reverse_proxy {env.STATUS_TARGET}
	}

	@suivi host suivi.lucasduport.cc
	handle @suivi {
		reverse_proxy {env.SUIVI_TARGET}
	}

	@resume host resume.lucasduport.cc
	handle @resume {
		redir https://portfolio.lucasduport.cc/cvs/CV_EN_2025.pdf
	}

	@cv host cv.lucasduport.cc
	handle @cv {
		redir https://portfolio.lucasduport.cc/cvs/CV_FR_2025.pdf
	}

	@lkdn host lkdn.lucasduport.cc
	handle @lkdn {
		redir https://www.linkedin.com/in/lucas-duport/
	}

	@www host www.lucasduport.cc
	handle @www {
		redir https://lucasduport.cc{uri}
	}

	# Default handler for this site
	handle {
		respond "404 Not Found" 404
	}
}

lucasduport.cc {
	redir https://portfolio.lucasduport.cc{uri}
}
