{
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}


*.{{ .Values.ingressDomain }} {
  @ldap host {{ .Values.subdomainPrefix }}ldap.{{ .Values.ingressDomain }}
  handle @ldap {
    reverse_proxy lldap.{{ .Values.infraNamespace }}.svc.cluster.local:17170
  }

  @nas host {{ .Values.subdomainPrefix }}nas.{{ .Values.ingressDomain }}
  handle @nas {
    reverse_proxy {env.NAS_TARGET}
  }

  @tv host {{ .Values.subdomainPrefix }}tv.{{ .Values.ingressDomain }}
  handle @tv {
    reverse_proxy stream-share.{{ .Values.infraNamespace }}.svc.cluster.local:8080
  }

  @vault host {{ .Values.subdomainPrefix }}vault.{{ .Values.ingressDomain }}
  handle @vault {
    reverse_proxy vaultwarden.{{ .Values.infraNamespace }}.svc.cluster.local:80

    @websockets {
      header Connection *Upgrade*
      header Upgrade websocket
    }
    reverse_proxy @websockets vaultwarden.{{ .Values.infraNamespace }}.svc.cluster.local:3012
  }

  @status host {{ .Values.subdomainPrefix }}status.{{ .Values.ingressDomain }}
  handle @status {
    reverse_proxy gatus.{{ .Values.infraNamespace }}.svc.cluster.local:8080
  }

  @suivi host {{ .Values.subdomainPrefix }}suivi.{{ .Values.ingressDomain }}
  handle @suivi {
    reverse_proxy suivi-item.{{ .Values.suiviItemNamespace }}.svc.cluster.local:80
  }

  @resume host {{ .Values.subdomainPrefix }}resume.{{ .Values.ingressDomain }}
  handle @resume {
    redir https://portfolio.lucasduport.cc/cvs/CV_EN_2025.pdf
  }

  @cv host {{ .Values.subdomainPrefix }}cv.{{ .Values.ingressDomain }}
  handle @cv {
    redir https://portfolio.lucasduport.cc/cvs/CV_FR_2025.pdf
  }

  @lkdn host {{ .Values.subdomainPrefix }}lkdn.{{ .Values.ingressDomain }}
  handle @lkdn {
    redir https://www.linkedin.com/in/lucas-duport/
  }

  @www host {{ .Values.subdomainPrefix }}www.{{ .Values.ingressDomain }}
  handle @www {
    redir https://{{ .Values.ingressDomain }}{uri}
  }

  handle {
    respond "404 Not Found" 404
  }
}

{{ .Values.ingressDomain }} {
  redir https://portfolio.lucasduport.cc{uri}
}
